    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
   
    <!-- build:js js/main.js -->
    <!--<script src="js/main.js"></script>-->
    <!-- endbuild -->

    <script>
        function loadStyle(l){
            var a=document.createElement("link");
            a.rel="stylesheet";
            a.type="text/css";
            a.href=l;
            document.getElementsByTagName("head")[0].appendChild(a)
        }

        function downloadJSAtOnload(l) {
            var element = document.createElement("script");
            element.src = l;
            document.getElementsByTagName("body")[0].appendChild(element)
        }

        $(document).ready(function () {
            //loadStyle('css/main.css');
            downloadJSAtOnload('js/main.js');
        });
    </script>
   
    <!-- build:js js/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter34794925 = new Ya.Metrika({
                        id:34794925,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/34794925" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
</body>

</html>
