<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Вскрытие и замена замков Минск и Минская область</title>

    <meta name="description" content="" />
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Purouski Ilya">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="css/main.css" />
   
    <!-- build:css css/main.css -->
    
    <!-- endbuild -->

    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

</head>

<body>
