@charset "UTF-8";

%font-base {
    color: map-get($colors, "chl");
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-variant: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .25px;
}
%font-heading {
    font-family: 'HelveticaNeue-Bold';
    font-variant: normal;
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: .25px;
}
