@charset "UTF-8";

$colors: (
    "chl": $corp-heading-lighen,
    "chd": $corp-heading-darken,
    "cl": $corp-label,
    "cbl": $corp-base-lighten,
    "cbd": $corp-base-darken,
    "cbgl": $corp-bg-lighten,
    "cbgd": $corp-bg-darken,
    "cbge": $corp-bg-element,
);

$corporate-border-verticle: map-get($colors, "cl") 5px solid;
$corporate-border-horizontal: map-get($colors, "cl") 2px solid;
