<section class="opening" id="opening_door">
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><span class="sm">вскрытие</span>Замков двери</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="visual">
                    <img src="img/opening/visual_door.jpg" alt="Вскрытие замка двери" />
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/lock.png" height="44" width="29" alt="Замок">
                                </p>
                                <h3>Вскрытие замков</h3>
                                <div class="desc">
                                    <p>кваритир, офисов, складов, гаражей и др.</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/lock.png" height="44" width="29" alt="Замок">
                                </p>
                                <h3>Ремонт замков</h3>
                                <div class="desc">
                                    <p>любые виды замков и фурнитуры</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/lock.png" height="44" width="29" alt="Замок">
                                </p>
                                <h3>Замена замков</h3>
                                <div class="desc">
                                    <p>имеются все марки замков и детали к ним</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/lock.png" height="44" width="29" alt="Замок">
                                </p>
                                <h3>Изготовление ключей</h3>
                                <div class="desc">
                                    <p>любые виды и типы ключей за 2 дня</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/lock.png" height="44" width="29" alt="Замок">
                                </p>
                                <h3>Врезка и накладка</h3>
                                <div class="desc">
                                    <p>подбор и установка с учётом материала двери</p>
                                </div>
                            </div>
                            <div class="service">
                                    <p class="icon">
                                        <img src="img/opening/lock.png" height="44" width="29" alt="Замок">
                                    </p>
                                    <h3>Перекодировка замков</h3>
                                    <div class="desc">
                                        <p>без демонтажа двери и самого замка</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
