<section class="opening" id="opening_door">
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><span class="sm">вскрытие</span>Замков двери</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="visual">
                    <img src="img/opening/door/visual_door.jpg" alt="Вскрытие замка двери" />
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/door/lock.png" height="44" alt="Замок">
                                </p>
                                <h3>Вскрытие замков</h3>
                                <div class="desc">
                                    <p>кваритир, офисов, складов, гаражей и др.</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/door/repair.png" height="44" alt="Инструменты">
                                </p>
                                <h3>Ремонт замков</h3>
                                <div class="desc">
                                    <p>любые виды замков и фурнитуры</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/door/replace.png" height="44" alt="Замена">
                                </p>
                                <h3>Замена замков</h3>
                                <div class="desc">
                                    <p>имеются все марки замков и детали к ним</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/door/manufacture.png" height="44" alt="Изготовление">
                                </p>
                                <h3>Изготовление ключей</h3>
                                <div class="desc">
                                    <p>любые виды и типы ключей за 2 дня</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/door/installation.png" height="44" alt="Установка">
                                </p>
                                <h3>врезка и замена</h3>
                                <div class="desc">
                                    <p>подбор и установка с учётом материала двери</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/door/recoding.png" height="44" alt="Перекодировка">
                                </p>
                                <h3>вскрытие сейфов</h3>
                                <div class="desc">
                                    <p>без демонтажа двери и самого замка</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
