<section class="opening" id="opening_door">
    <div class="container">
        <div class="title_n">
            <div class="row">
                <div class="col-xs-12">
                    <!--<h2><span class="sm">вскрытие</span>Замков двери</h2>-->
                    <img src="img/opening/door/title.png" alt="Услуги для дверных замков" title="Услуги для дверных замков" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="visual">
                    <img src="img/opening/door/visual_door.png" alt="Вскрытие замка двери" />
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service">
                                <p class="icon lock"></p>
                                <h3>Вскрытие замков</h3>
                                <div class="desc">
                                    <p>
                                        квартир, офисов, складов, <br />
                                        роллетов, гаражей 
                                    </p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon repair"></p>
                                <h3>Ремонт замков</h3>
                                <div class="desc">
                                    <p>
                                        замена цилиндра, ремонт, <br />
                                        регулировка
                                    </p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon safe"></p>
                                <h3>Вскрытие сейфов</h3>
                                <div class="desc">
                                    <p>
                                        ремонт, замена замков, <br />
                                        перекодировка
                                    </p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon keys"></p>
                                <h3>Изготовление ключей</h3>
                                <div class="desc">
                                    <p>
                                        дубликатов за 10-20 мин, <br />
                                        с нуля до 2 дней
                                    </p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon doorhandle"></p>
                                <h3>Врезка и замена</h3>
                                <div class="desc">
                                    <p>
                                        любых марок замков, их <br />
                                        фурнитур и деталей 
                                    </p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon pass"></p>
                                <h3>Перекодировка замков</h3>
                                <div class="desc">
                                    <p>
                                        без демонтажа двери <br />
                                        и самого замка
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
