<section class="opening" id="opening_car">
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><span class="sm">вскрытие</span>Замков автомобилей</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="visual">
                    <img src="img/opening/car/visual_car.jpg" alt="Вскрытие замка двери" />
                </div>

                <div class="services">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/car/lock.png" height="44" alt="Замок">
                                </p>
                                <h3>Вскрытие замков</h3>
                                <div class="desc">
                                    <p>дверей, капота, багажника, бензобака</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/car/charge.png" height="44" alt="Акамулятор">
                                </p>
                                <h3>Заряд акб и запуск авто</h3>
                                <div class="desc">
                                    <p>с помощью програмируемого зарядного устройства</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/car/replace.png" height="44" alt="Замена">
                                </p>
                                <h3>Замена замков</h3>
                                <div class="desc">
                                    <p>в началии замки всех марок автомобилей</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/car/key_chip.png" height="44" alt="Ключ с чипом">
                                </p>
                                <h3>Ключи с чипом</h3>
                                <div class="desc">
                                    <p>изготовление и восстан-е ключей с чипом</p>
                                </div>
                            </div>
                            <div class="service">
                                <p class="icon">
                                    <img src="img/opening/car/repair.png" height="44" alt="Ремонт">
                                </p>
                                <h3>ремонт замков</h3>
                                <div class="desc">
                                    <p>всех марок автомобилей <br />&nbsp;</p>
                                </div>
                            </div>
                            <div class="service">
                                    <p class="icon">
                                        <img src="img/opening/car/rem_alarm.png" height="44" alt="Снятие сигналищации">
                                    </p>
                                    <h3>снятие сигнализации</h3>
                                    <div class="desc">
                                        <p>разблокировка сигнализации иммобилайзеров</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
