<section class="triple_block" id="price">
    <div class="container">
        <div class="title_n">
            <div class="row">
                <div class="col-xs-12">
                    <!--<h2><span class="sm">прайс</span>Cтоимость услуг</h2>-->
                    <img src="img/price/title.png" alt="Прайс стоимость услуг" title="Прайс стоимость услуг" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="desc">
                    <p>
                        В каждой услуге много нюансов: какой тип замка, какой тип <br />
                        двери и т.п. Поэтому чтобы узнать точную цены, свяжитесь <br />
                        с нами по телефону или оставьте заявку.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tbl_price">
                    <div class="tbl_price--title">
                        <p class="tbl_price--title--price">
                            <span class="limit">От</span>
                            <span class="number">220</span>
                            <span class="tens">тыс</span>.
                        </p>
                        <p>Вскрытие дверных замков</p>
                    </div>
                    <div class="tbl_price--desc">
                        <p>Вскрытие замков</p>
                        <p>Ремонт замков</p>
                        <p>Замена замков</p>
                        <p>Перекодировка замков</p>
                        <p>Изготовление ключей</p>
                    </div>
                    <div class="order_btn"><a href="#form-order" class="btn btn-warning fancybox" section="Заявка на вскрытие дверных замков">Узнать цены</a></div>
                </div>
                <div class="tbl_price">
                    <div class="tbl_price--title">
                        <p class="tbl_price--title--price">
                            <span class="limit">От</span>
                            <span class="number">250</span>
                            <span class="tens">тыс</span>.
                        </p>
                        <p>Вскрытие автомобилей</p>
                    </div>
                    <div class="tbl_price--desc">
                        <p>Вскрытие замков</p>
                        <p>Замена замков</p>
                        <p>Разблок-ка сигнализации</p>
                        <p>Восстан. ключей с чипом</p>
                        <p>Заряд акб и запуск авто</p>
                    </div>
                    <div class="order_btn"><a href="#form-order" class="btn btn-warning fancybox" section="Заявка на всткрытие автомобилей">Узнать цены</a></div>
                </div>
                <div class="tbl_price">
                    <div class="tbl_price--title">
                        <p class="tbl_price--title--price">
                            <span class="limit">От</span>
                            <span class="number">400</span>
                            <span class="tens">тыс</span>.
                        </p>
                        <p>Вскрытие сейфов</p>
                    </div>
                    <div class="tbl_price--desc">
                        <p>Вскрытие замков</p>
                        <p>Ремонт замков</p>
                        <p>Замена замков</p>
                        <p>Перекодировка замков</p>
                        <p>Замена сейфа</p>
                    </div>
                    <div class="order_btn"><a href="#form-order" class="btn btn-warning fancybox" section="Заявка на вскрытие сейфов">Узнать цены</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
