<section class="triple_block" id="price">
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="col-xs-12">
                    <h2><span class="sm">прайс</span>Cтоимость услуг</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="desc">
                    <p>Мы постояно анализируем рынок, чтобы предоставить нашим клиентам лучшие цены и качество услуг.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="tbl_price">
                    <div class="tbl_price--title">
                        <p class="tbl_price--title--price">
                            <span class="limit">От&nbsp;</span>
                            <span class="number">150</span>
                            <span class="tens">&nbsp;тыс</span>.
                        </p>
                        <p>Вскрытие дверных замков</p>
                    </div>
                    <div class="tbl_price--desc">
                        <p>Вскрытие замков</p>
                        <p>Ремонт замков</p>
                        <p>Замена замков</p>
                        <p>Перекодировка замков</p>
                        <p>Изготовление ключей</p>
                    </div>
                    <div class="order_btn"><a href="#" class="btn btn-warning">Оставить заявку</a></div>
                </div>
                <div class="tbl_price">
                    <div class="tbl_price--title">
                        <p class="tbl_price--title--price">
                            <span class="limit">От&nbsp;</span>
                            <span class="number">175</span>
                            <span class="tens">&nbsp;тыс</span>.
                        </p>
                        <p>Вскрытие автомобилей</p>
                    </div>
                    <div class="tbl_price--desc">
                        <p>Вскрытие замков</p>
                        <p>Замена замков</p>
                        <p>Разблок-ка сигнализации</p>
                        <p>Восстан. ключей с чипом</p>
                        <p>Заряд акб и запуск авто</p>
                    </div>
                    <div class="order_btn"><a href="#" class="btn btn-warning">Оставить заявку</a></div>
                </div>
                <div class="tbl_price">
                    <div class="tbl_price--title">
                        <p class="tbl_price--title--price">
                            <span class="limit">От&nbsp;</span>
                            <span class="number">130</span>
                            <span class="tens">&nbsp;тыс</span>.
                        </p>
                        <p>Вскрытие сейфов</p>
                    </div>
                    <div class="tbl_price--desc">
                        <p>Вскрытие замков</p>
                        <p>Ремонт замков</p>
                        <p>Замена замков</p>
                        <p>Перекодировка замков</p>
                        <p>Замена сейфа</p>
                    </div>
                    <div class="order_btn"><a href="#" class="btn btn-warning">Оставить заявку</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
