<section class="triple_block" id="risks">
    <div class="container">
        <div class="title_n">
            <div class="row">
                <div class="col-xs-12">
                    <!--<h2 class="light"><span class="sm">ваши риски</span>в этой сфере услуг</h2>-->
                    <img src="img/risks/title.png" alt="Ваши риски в этой сфере услуг" title="Ваши риски в этой сфере услуг" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"> <!-- col-sm-4 -->
                
                <div class="risk">
                    <p class="icon">
                        <img src="img/risks/document.png" height="47px" width="40" alt="Документы" title="Документы">
                    </p>
                    <h3>
                        Получение фиктивных <br />
                        документов
                    </h3>
                    <div class="desc">
                        <p>
                            Многие компании на рынке официально <br />
                            не оформлены. Они могут выдать вам чек, <br />
                            акт выполненных работ, гарантию, но все <br />
                            эти документы фикция — они не имеют <br />
                            юридической силы. Мы же предоставляем <br />
                            официальную гарантию на выполненные <br />
                            работы и перечень наших товаров.
                        </p>
                    </div>
                </div>
                
                <div class="risk">
                    <p class="icon">
                        <img src="img/risks/master.png" height="47px" width="40" alt="Мастер" title="Мастер">
                    </p>
                    <h3>
                        Некомпетентность <br />
                        мастеров
                    </h3>
                    <div class="desc">
                        <p>
                            ИП мастера и мастера „некоторых“ <br />
                            компаний,  выезжая к вам на место, <br />
                            не способны выполнить заявленную работу: <br />
                            открыть замок, заменить его или просто <br />
                            отремонтировать. Мы ни раз приезжали <br />
                            после них и доделывали работу. Учтите, <br />
                            что они потребуют оплату за выезд.
                        </p>
                    </div>
                </div>
                
                <div class="risk">
                    <p class="icon">
                        <img src="img/risks/money.png" height="47px" width="40" alt="Деньги" title="Деньги">
                    </p>
                    <h3>
                        Предложения самой <br />
                        низкой цены
                    </h3>
                    <div class="desc">
                        <p>
                            В интернете много предложений <br />
                            данных услуг, но есть компании, которые <br />
                            выставляют несущуствующие цены, <br />
                            например — 90 тыс. На месте сотрудники <br />
                            этих компаний задирают ценник  или <br />
                            специально ломают вам замок, чтобы <br />
                            их выезд окупился.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
