<section class="triple_block" id="risks">
    <div class="container">
        <div class="title">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="light"><span class="sm">риски</span>будьте осторожны</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"> <!-- col-sm-4 -->
                <div class="risk">
                    <p class="icon">
                        <img src="img/risks/doc.png" height="47px" width="40" alt="Документы" title="Документы">
                    </p>
                    <h3>Документы</h3>
                    <div class="desc">
                        <p>Многие компании не оформлены официально, они могут выдать вам чек, акт выполненных работ, гарантию, но эти документы фикция, они не имеют юр.силы. Мы же предоставляем официальную гарантию и др. документы на выполненные работы.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="risk">
                    <p class="icon">
                        <img src="img/risks/ip.png" height="47px" width="40" alt="ИП" title="ИП">
                    </p>
                    <h3>Ип мастера</h3>
                    <div class="desc">
                        <p>На рынке работают ИП мастера,
они выезжают на место, но не могут открыть замок, Мы ни раз приезжали после таких мастеров и делали свою работу нормально. Но вы заплатили ему за выезд и нам за работу. Обращайтесь к специалистам.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="risk">
                    <p class="icon">
                        <img src="img/risks/money.png" height="47px" width="40" alt="Деньги" title="Деньги">
                    </p>
                    <h3>Низкая цена</h3>
                    <div class="desc">
                        <p>Есть компании, которые специально выставляют минимальную цену, например 90 тыс, чтобы заманить клиента, а по месту задирают ценник или специально ломают вам замок, чтобы выезд мастера окупился. Уточняйте цену по телефону.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
