@charset "UTF-8";

#belt {
    background-color: map-get($colors, "cl");
    padding: 20px 0;
    position: relative;

    .working {
        //font-family: 'HelveticaNeue-Light';
        @extend %font-base-secondary;
        line-height: 24px;
        text-align: right;

        .hours {
            color: map-get($colors, "chl");
            display: inline-block;
            font-size: 50px;
            margin-right: 26px;
            margin-bottom: 32px;
            vertical-align: bottom;

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 991px) {
                margin-right: 15px;
            }*/

            /* Extra Small Devices, Phones */
            /*@media only screen and (max-width : 770px) {
                display: block;
                margin-right: 0;
                width: 100%;
            }*/
        }

        .days {
            display: inline-block;
            margin: 10px 30px 12px 0;
            text-align: left;
            vertical-align: top;

            p {
                color: map-get($colors, "chl");;
                font-size: 20px;
                margin: 0;

                .circle {
                    display: inline-block;
                    border-radius: 50%;
                    background-color: map-get($colors, "chl");
                    height: 8px;
                    vertical-align: middle;
                    width: 8px;
                }

                &:last-child {
                    margin-left: 22px;
                    margin-top: 48px;

                    /* Extra Small Devices, Phones */
                    /*@media only screen and (max-width : 770px) {
                        margin: 0;
                    }*/
                }

                /* Extra Small Devices, Phones */
                /*@media only screen and (max-width : 770px) {
                    margin: 0;
                }*/
            }

            /* Extra Small Devices, Phones */
            /*@media only screen and (max-width : 770px) {
                display: block;
                width: 100%;
            }*/
        }

        /* Extra Small Devices, Phones */
        /*@media only screen and (max-width : 770px) {
            text-align: center;
        }*/
    }

    .guarantees {
        color: map-get($colors, "cbd");
        margin-left: 30px;
        position: relative;
        width: 290px;
        z-index: 3;

        p {
            //font-family: 'HelveticaNeue-Regular', "Helvetica Neue";
            font-size: 37px;
            font-weight: normal;
            line-height: 32px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }

        .desc {
            margin-top: 30px;
            line-height: 16px;

            img {
                float: left;
                margin-right: 20px;

                /* Medium Devices, Desktops */
                /*@media only screen and (max-width : 768px) {
                    clear: both;
                    display: block;
                    float: none;
                    margin: 0 auto;
                }*/
            }

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 768px) {
                margin: 10px auto;
                text-align: center;
            }*/
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            margin-left: 15px;
            width: 100%;
        }*/

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 768px) {
            border-top: map-get($colors, "chl") 1px solid;
            margin: 10px auto 0;
            padding-top: 10px;
            text-align: center;
        }*/
    }

    .line_light {
        background-color: map-get($colors, "chl");
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 2;


        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 768px) {
            display: none;
            z-index: -1;
        }*/
    }
}
