@charset "UTF-8";

#belt {
    background-color: map-get($colors, "cl");
    padding: 20px 0;
    position: relative;

    .working {
        font-family: 'HelveticaNeue-Light';
        line-height: 24px;

        .hours {
            color: map-get($colors, "chd");;
            display: inline-block;
            font-size: 50px;
            margin-right: 26px;
            margin-bottom: 32px;
            vertical-align: bottom;

            /* Medium Devices, Desktops */
            @media only screen and (max-width : 991px) {
                margin-right: 15px;
            }

            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 770px) {
                display: block;
                margin-right: 0;
                width: 100%;
            }
        }

        .days {
            display: inline-block;
            margin: 10px 0 12px;
            vertical-align: top;

            p {
                color: map-get($colors, "chd");;
                font-size: 20px;
                margin: 0;

                .circle {
                    display: inline-block;
                    border-radius: 50%;
                    background-color: map-get($colors, "chd");
                    height: 8px;
                    vertical-align: middle;
                    width: 8px;
                }

                &:last-child {
                    margin-left: 22px;
                    margin-top: 38px;

                    /* Extra Small Devices, Phones */
                    @media only screen and (max-width : 770px) {
                        margin: 0;
                    }
                }

                /* Extra Small Devices, Phones */
                @media only screen and (max-width : 770px) {
                    margin: 0;
                }
            }

            /* Extra Small Devices, Phones */
            @media only screen and (max-width : 770px) {
                display: block;
                width: 100%;
            }
        }

        /* Extra Small Devices, Phones */
        @media only screen and (max-width : 770px) {
            text-align: center;
        }
    }

    .guarantees {
        margin-left: 30px;
        position: relative;
        width: 290px;
        z-index: 3;

        h2 {
            font-size: 37px;
            line-height: 32px;
            margin: 0;
            padding: 0;
        }

        .desc {
            margin-top: 30px;

            img {
                float: left;
                margin-right: 20px;

                /* Medium Devices, Desktops */
                @media only screen and (max-width : 768px) {
                    clear: both;
                    display: block;
                    float: none;
                    margin: 0 auto;
                }
            }

            /* Medium Devices, Desktops */
            @media only screen and (max-width : 768px) {
                margin: 10px auto;
                text-align: center;
            }
        }

        /* Medium Devices, Desktops */
        @media only screen and (max-width : 991px) {
            margin-left: 15px;
            width: 100%;
        }

        /* Medium Devices, Desktops */
        @media only screen and (max-width : 768px) {
            border-top: map-get($colors, "chd") 1px solid;
            margin: 10px auto 0;
            padding-top: 10px;
            text-align: center;
        }
    }

    .line_light {
        background-color: map-get($colors, "chd");
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 2;


        /* Medium Devices, Desktops */
        @media only screen and (max-width : 768px) {
            display: none;
            z-index: -1;
        }
    }
}
