@charset "UTF-8";

#header {
    color: map-get($colors, "chd");

    .top {
        margin-top: 55px;

        .logo {


            .logo {
                @extend h2;
                
                p {
                    margin: 0;
                    padding: 0;
                }
                
                .site_name {
                    
                }
                
                font-size: 22px;
                line-height: 28px;
                margin: 0;
                padding: 0;

                img {
                    margin-right: 3px;
                    vertical-align: top;
                }
            }

            .desc p {
                    //font-family: 'HelveticaNeue-Regular';
                    @extend %font-base;
                    color: map-get($colors, "cbd");
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 14px;
                    margin: 0;
                    padding: 0;
                    text-transform: none;
            }
        }

        .nav-block {
            display: inline-block;
            margin-top: 20px;
            vertical-align: top;

            ul {
                //font-family: "OpenSansBold";
                @extend %font-nav;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;

                    a {
                        color: map-get($colors, "cbgd");
                        font-size: 14px;
                        margin: 0;
                        padding: 0 12px;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            /*outline: red 1px solid;*/
                            color: map-get($colors, "cl");
                        }
                    }
                }
            }
        }

        .phone-block {
            @extend %font-nav;
            color: map-get($colors, "cbgd");
            font-size: 13px;
            
            display: inline-block;
            margin-left: 12px;
            margin-top: 20px;
            vertical-align: top;
            
            .phone {
                margin-bottom: 3px;
            }

            .order_call {
                font-size: 9px;
                text-align: center;

                a {
                    color: map-get($colors, "cbd");
                    text-decoration: underline;
                    text-transform: uppercase;
                }
            }
        }
    }

    .header-content {
        background-image: url(../img/header/lock.jpg);
        background-repeat: no-repeat;
        background-position: 100% 30%; //100% 10%;
        background-size: 30%;

        .descripter {
            margin: 0;

            h1 {
                margin: 115px 0 23px 0;
                line-height: 36px;
                width: 575px;
            }

            a {

                &.btn {

                }
            }
        }

        .bottom_line {
            margin: 96px 0 0 0;

            &--block {

                > div {
                    background-color: map-get($colors, "cbgd");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    /*display: inline-block;*/
                    float: left;
                    height: 100px;
                    margin-right: 16px;
                    width: 100px;

                    &:nth-child(1) {
                        background-image: url(../img/header/bottom-line/door.png);
                    }
                    &:nth-child(2) {
                        background-image: url(../img/header/bottom-line/car.png);
                    }
                    &:nth-child(3) {
                        background-image: url(../img/header/bottom-line/safe.png);
                    }
                    &:nth-child(4) {
                        background-image: url(../img/header/bottom-line/key.png);
                    }
                }
            }
        }
    }
}
