@charset "UTF-8";

#header {
    color: map-get($colors, "chd");

    .top {
        margin-top: 60px;

        .logo {


            .logo {
                @extend h2;
                
                p {
                    margin: 0;
                    padding: 0;
                }
                
                .site_name {
                    
                }
                
                font-size: 22px;
                line-height: 28px;
                margin: 0;
                padding: 0;

                img {
                    margin-right: 3px;
                    vertical-align: top;
                    height: 22px;
                    width: 140px;
                }
            }

            .desc p {
                    //font-family: 'HelveticaNeue-Regular';
                    @extend %font-base;
                    color: map-get($colors, "cbd");
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 14px;
                    margin: 0;
                    padding: 0;
                    text-transform: none;
            }
        }

        .nav-block {
            display: inline-block;
            margin-top: 3px;
            vertical-align: top;

            ul {
                //font-family: "OpenSansBold";
                @extend %font-nav;
                list-style: none;
                letter-spacing: .25px;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;

                    a {
                        color: map-get($colors, "cbgd");
                        font-size: 14px;
                        margin: 0;
                        padding: 0 12px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;

                        &:hover {
                            /*outline: red 1px solid;*/
                            color: map-get($colors, "cl");
                        }
                    }
                }
            }
        }

        .phone-block {
            @extend %font-nav;
            color: map-get($colors, "cbgd");
            font-size: 14px;
            
            display: inline-block;
            margin-left: 12px;
            margin-top: 3px;
            vertical-align: top;
            
            &:hover .phone {
                color: map-get($colors, "cl");
            }
            
            .phone {
                margin-bottom: 3px;
            }

            .order_call {
                font-size: 8px;
                text-align: center;

                a {
                    color: map-get($colors, "cbd");
                    text-decoration: underline;
                    text-transform: uppercase;
                    
                    &:hover {
                        color: #797979;
                    }
                }
            }
        }
    }

    .header-content {
        background-image: url(../img/header/keys.png);
        background-repeat: no-repeat;
        background-position: 100% 94px; //100% 30%;
        background-size: 30%;
        margin-bottom: 128px;

        .descripter {
            margin: 0;

            h1 {
                font-size: 36px;
                margin: 93px 0 21px 0;
                line-height: 42px;
                text-transform: none;
                width: 575px;
                letter-spacing: 0.25px;
            }

            .desc_keywords {
                color: #797979;
                letter-spacing: 0.2px;
                line-height: 20px;
                margin-bottom: 26px;
            }
            
            a {

                &.btn {
                    background-color: #fcd87e;
                    border: 1px solid #fabe28;
                    color: #23231e;
                    
                    &:hover {
                        background-color: #fabe28;
                        border: 1px solid #fabe28;
                        color: #23231e;
                    }
                    
                    &:active, &:visited {
                        background-color: #fab728;
                        border: 1px solid #fab728;
                        outline: none;
                    }
                }
            }
        }

        .bottom_line {
            margin: 96px 0 0 0;

            &--block {

                > div {
                    background-color: map-get($colors, "cbgd");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    /*display: inline-block;*/
                    float: left;
                    height: 100px;
                    margin-right: 16px;
                    width: 100px;

                    &:nth-child(1) {
                        background-image: url(../img/header/bottom-line/door.png);
                    }
                    &:nth-child(2) {
                        background-image: url(../img/header/bottom-line/car.png);
                    }
                    &:nth-child(3) {
                        background-image: url(../img/header/bottom-line/safe.png);
                    }
                    &:nth-child(4) {
                        background-image: url(../img/header/bottom-line/key.png);
                    }
                }
            }
        }
    }
}
