@charset "UTF-8";

#price {
    background-color: map-get($colors, "cbgl");
    color: map-get($colors, "cbl");

    .title {
        margin-bottom: 30px;
    }

    .desc {
        margin-bottom: 20px;
        width: 390px;

        p {
            color: map-get($colors, "cbd");
            margin: 0;
            padding: 0;
        }
    }

    .price-colume {
        padding: 0px;
    }

    .tbl_price {
        width: 280px;
        margin: 30px 0;

        &--title {
            background-color: map-get($colors, "cbgd");
            margin-bottom: 8px;
            padding: 20px;

            p {
                font-style: italic;
                margin: 0;
                padding: 0;
            }

            &--price {
                margin-bottom: 10px !important;
                text-transform: lowercase;

                .limit {
                    color: map-get($colors, "chl");
                    font-family: HelveticaNeue-Bold;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: bold;
                }

                .number {
                    color: map-get($colors, "chl");
                    font-family: HelveticaNeue-Bold;
                    font-size: 54px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 54px;
                }

                .tens {
                    font-family: 'HelveticaNeue-Light';
                    font-size: 20px;
                }
            }
        }

        &--desc {
            background-color: map-get($colors, "cbge");
            color: map-get($colors, "chd");
            padding: 15px 30px;

            p {
                line-height: 21px;
                margin: 5px 0;
                text-transform: uppercase;
            }
        }
    }
}
