@charset "UTF-8";

#price {
    background-color: map-get($colors, "chl");
    color: map-get($colors, "chd");

    .title {

        .desc {
            margin-bottom: 30px;

            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .tbl_price {
        width: 273px;

        .icon {
            img {
                height: 47px;
                width: 40px;
            }
        }

        h3 {
            margin: 31px 0 23px;
        }

        .desc {
            p {
                line-height: 21px;
            }
        }
    }
}
