@charset "UTF-8";

#price {
    background-color: map-get($colors, "cbgl");
    color: map-get($colors, "cbl");
    padding: 85px 0;

    .title {
        
        &_n {
            margin-bottom: 27px;

            img {
                height: 40px;
                width: 200px;
            }
        }
    }

    .desc {
        margin-bottom: 15px;
        /*width: 390px;*/

        p {
            color: map-get($colors, "cbd");
            margin: 0;
            padding: 0;
            line-height: 19px;
            letter-spacing: 0.25px;
        }
    }

    .tbl_price {
        display: inline-block;
        margin: 30px 35px 0 0;
        width: 280px;

        &:last-child {
            margin-right: 0;
        }
        
        &--title {
            background-color: map-get($colors, "cbgd");
            height: 130px;
            margin-bottom: 8px;
            padding: 25px 30px;

            p {
                /*font-style: italic;*/
                font-family: HelveticaItalic;
                margin: 0;
                padding: 0;
                line-height: normal;
                letter-spacing: 0.25px;
            }

            &--price {
                margin-bottom: 10px !important;
                text-transform: lowercase;

                .limit {
                    color: map-get($colors, "chl");
                    /*font-family: HelveticaNeue-Bold;*/
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: bold;
                    margin-right: 5px;
                }

                .number {
                    color: map-get($colors, "chl");
                    /*font-family: HelveticaNeue-Bold;*/
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    font-size: 54px;
                    font-style: normal;
                    font-weight: bold;
                    line-height: 54px;
                    margin-right: 5px;
                }

                .tens {
                    font-family: HelveticaLightItalic, 'HelveticaNeue-Light';
                    font-size: 20px;
                }
            }
        }

        &--desc {
            background-color: map-get($colors, "cbge");
            color: map-get($colors, "chd");
            padding: 20px 30px;

            p {
                line-height: 21px;
                margin: 5px 0;
                text-transform: uppercase;
                letter-spacing: 0.25px;
            }
        }

        .order_btn {
            background-color: map-get($colors, "cbge");
            padding: 3px 30px 30px 30px;
        
            a {

                &.btn {
                    background-color: #f7d379;
                    border: 1px solid #fabe28;
                    color: #23231e;
                    transition: all 300ms ease;

                    &:hover {
                        background-color: #fabe28;
                        border: 1px solid #fabe28;
                        color: #23231e;
                    }

                    &:active, &:visited {
                        background-color: #fab728;
                        border: 1px solid #fab728;
                        outline: none;
                    }
                }
            }
        }
    }
}
