@charset "UTF-8";

#risks {
    background-color: #00243c;
    color: map-get($colors, "chl");
    padding-top: 85px;
    padding-bottom: 70px;

    .title {
        margin-bottom: 70px;
    
        &_n {
            margin-bottom: 80px;
            
            img {
                height: 40px;
                width: 297.5px;
            }
        }
    }

    .risk {
        width: auto;
        display: inline-block;
        vertical-align: top;

        &:nth-child(1) {
            width: 335px;
        }

        &:nth-child(2) {
            width: 320px;
        }
        
        .icon {
            img {
                height: 43px;
                width: auto;
            }
        }

        h3 {
            color: #fefefe;
            @extend %font-button;
            font-size: 19px;
            margin: 35px 0 14px;
            line-height: 25px;
            letter-spacing: 0.25px;
        }

        .desc {
            
            p {
                color: #c8c8c8;
                font-size: 13px;
                line-height: 19px;
                letter-spacing: 0.25px;
            }
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            width: 215px;
        }*/

        /* Small Devices, Tablets */
        /*@media only screen and (max-width : 767px) {
            margin: 0 auto;
            text-align: center;
            width: 70%;
        }*/

        /* Small Devices, Tablets */
        /*@media only screen and (max-width : 555px) {
            width: 100%;
        }*/
    }
}
