@charset "UTF-8";

#risks {
    background-color: map-get($colors, "cbgd");
    color: map-get($colors, "chl");

    .title {
        margin-bottom: 70px;
    }

    .risk {
        width: 273px;

        .icon {
            img {
                height: 47px;
                width: 40px;
            }
        }

        h3 {
            color: map-get($colors, "chl");
            margin: 31px 0 23px;
        }

        .desc {
            p {
                color: map-get($colors, "cbl");
                line-height: 21px;
            }
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            width: 215px;
        }*/

        /* Small Devices, Tablets */
        /*@media only screen and (max-width : 767px) {
            margin: 0 auto;
            text-align: center;
            width: 70%;
        }*/

        /* Small Devices, Tablets */
        /*@media only screen and (max-width : 555px) {
            width: 100%;
        }*/
    }
}
