@charset "UTF-8";

#sale {
    background-color: map-get($colors, "cbgd");
    color: map-get($colors, "cbd");

    .visual {
        margin-bottom: -6.428571428571429em;
        text-align: right;

        img {
            margin-right: 42px;

            /* Medium Devices, Desktops */
            @media only screen and (max-width : 991px) {
                margin-bottom: 0;
            }

            /* Medium Devices, Desktops */
            @media only screen and (max-width : 768px) {
                margin: 0;
                max-width: 332px;
                width: 100%;
            }
        }

        /* Medium Devices, Desktops */
        @media only screen and (max-width : 768px) {
            margin-bottom: 0;
            text-align: center;
        }
    }

    .sb {
        margin-left: 30px;

        .title {
            margin-bottom: 20px;

            h2 {

                span.color_key {

                    color: map-get($colors, "cl");
                }
            }
        }

        .desc {
            color: map-get($colors, "cbl");
            p {

            }
        }
    }
}
