@charset "UTF-8";

$blue-corporate: #00243c;
$yellow-corporate: #fabe28;

$gray-corporate-heading: #373737;
$gray-corporate-base-darken: #797979;
$gray-corporate-base-lighten: #c8c8c8;
$gray-corporate-lighten: #f2f2f2;

$white-base: #fff;
$red-base: #ff0000;
// ------------------------------- //

$corp-heading-lighen: $white-base;
$corp-heading-darken: $gray-corporate-heading;
$corp-base-lighten: $gray-corporate-base-lighten;
$corp-base-darken: $gray-corporate-base-darken;
$corp-bg-lighten: $white-base;
$corp-bg-darken: $blue-corporate;
$corp-bg-element: $gray-corporate-lighten;
$corp-label: $yellow-corporate;

$error: $red-base;
