@charset "UTF-8";

$blue-corporate: #242b3e;

$gray-corporate-heading: #373737;
$gray-corporate-2: #404040;
$gray-corporate-3: #797979;
$gray-corporate-4: #999999;
$gray-corporate-5: #c8c8c8;

$yellow-corporate: #edb62a;
$white-corporate: #fefefe;

$red-base: #ff0000;

$white-base: #fff;


// ------------------------------- //

$corp-heading_on_lighen: $gray-corporate-heading;
$corp-heading_on_darken: $white-base;
$corp-label: $yellow-corporate;

$error: $red-normal;
