@charset "UTF-8";

/* Custom */
@include placeholder {
    color: map-get($colors, "placeholder");
    opacity: 1;
}
/* / Custom */
* {
    @include box-sizing (border-box);
    &:before, &:after {
        @include box-sizing (border-box);
    }
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Custom */
body {
    @extend %font-base;
}

a {

    display: inline-block;
    text-decoration: none;

    &:link {

    }
    &:visited {

    }
    &:hover {

    }
    &:active {

    }
    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
    }
}
/* / Custom */

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

figure {
    margin: 0
}
img {
    vertical-align: middle;
}
/* Custom */
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %font-heading;
}
h1 {
    font-size: 26px; /*36px*/
}
h2 {
    font-size: 24px; /*22px*/
}
h3 {
    font-size: 18px; /*20px*/
}

section {
    padding: 6.428571428571429em 0px; /*90px 0*/
}
