@charset "UTF-8";

input {
    border-width: 1px;
    border-color: #c8c8c8;
    border-radius: 2px; // 3px;
    border-style: solid;
    height: 2.39em; // 44px
    margin: 0px 0.3em; // 0 5px
    padding: 15px;
    vertical-align: middle;

    /* Стиль текста */
    @extend %font-base;
    //color: map-get($colors, "cbd");
    //font-size: 1.3em; //18px //16
    //font-family: "Arial";
    //line-height: 1.5;

    &:focus {
        border-width: 2px;
        //border-color: map-get($colors, "corporate-normal");
        border-radius: 0.3em; //3px;
        border-style: solid;
    }
}

button, a.btn {
    border: 1px solid buttonface;
    //border-color: map-get($colors, "corporate-normal");
    //border-radius: 0.3em; /*4px;*/
    border-radius: 2px;
    background-color: map-get($colors, "cl");
    //height: 2.35em; //44px
    //margin: 0px 0.3em; //0 5px
    //padding: 0.1em 0.45em; //1px 6px //0.35em
    //padding: 8px 6px 6px 6px; // 6px 12px
    color: #23231e;
    font-size: 12px;
    padding: 5px 11px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;

    /* Стиль текста */
    @extend %font-button;
    //color: map-get($colors, "white-normal");
    //font-size: 1.3em; //18px //16
    //font-family: "Arial";
    //font-weight: 700;
    //line-height: 1.2;
    //text-transform: uppercase;
    //text-align: center;

    &:focus {
        border: 2px solid buttonface;
    }
}

a.btn {
    
    background-color: #fcd87e;
    border: 1px solid #fabe28;
    color: #23231e;
    transition: all 300ms ease;
    width: 124px;

    &:hover {
        background-color: #fabe28;
        border: 1px solid #fabe28;
        color: #23231e;
    }

    &:active, &:visited {
        background-color: #fab728;
        border: 1px solid #fab728;
        outline: none;
    }
}

fieldset {
    //border: 1px solid map-get($colors, "corporate-light");

    legend {
        //color: map-get($colors, "white-normal");
    }

    label {
        //color: map-get($colors, "white-normal");
    }
}
