@charset "UTF-8";

input {
    border-width: 1px;
    border-color: map-get($colors, "cbl");
    border-radius: 0.3em; /*3px;*/
    border-style: solid;
    /*background-color: map-get($colors, "white-normal");*/
    height: 2.39em; /*44px*/
    margin: 0px 0.3em; /*0 5px*/
    padding: 15px;
    vertical-align: middle;

    /* Стиль текста */
    color: map-get($colors, "cbd");
    /*font-size: 1.3em; //18px //16*/
    /*font-family: "Arial";
    line-height: 1.5;*/

    &:focus {
        border-width: 2px;
        /*border-color: map-get($colors, "corporate-normal");*/
        border-radius: 0.3em; /*3px;*/
        border-style: solid;
    }
}

button {
    border: 0px solid buttonface;
    /*border-color: map-get($colors, "corporate-normal");*/
    border-radius: 0.3em; /*4px;*/
    /*background-color: map-get($colors, "corporate-normal");*/
    height: 2.35em; /*44px*/
    margin: 0px 0.3em; /*0 5px*/
    padding: 0.1em 0.35em; /*1px 6px*/
    vertical-align: middle;

    /* Стиль текста */
    /*color: map-get($colors, "white-normal");*/
    font-size: 1.3em; //18px /*16*/
    font-family: "Arial";
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    &:focus {
        border: 2px solid buttonface;
    }
}

fieldset {
    /*border: 1px solid map-get($colors, "corporate-light");*/

    legend {
        /*color: map-get($colors, "white-normal");*/
    }

    label {
        /*color: map-get($colors, "white-normal");*/
    }
}
