@charset "UTF-8";

.form-order {
    background-color: map-get($colors, "cbgl");
    color: #000;
    height: 285px;
    padding: 43px 45px;
    width: 500px;

    &--title {
        margin: 0 0 23px 0;

        h4 {
            @extend %font-base;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: normal;
            color: #000;
            font-size: 24px;
            line-height: normal;
            letter-spacing: 0.25px;
            margin: 0;
            padding: 0;
            text-transform: none;
        }
    }

    &--inputs {
        margin: 10px 0;

        input {
            margin: 7px 0;
            padding: 17px 11px;
            width: 100%;
        }
    }

    &--submit {
        margin: 0;

        .txt {
            color: map-get($colors, "cbd");
            display: inline-block;
            margin: 9px 0 0;
        }

        button[type="submit"] {
            height: auto;
            font-family: "HelveticaMedium";
            font-size: 14px;
            float: right;
            margin: 0;
            padding: 7px 12px;
            text-transform: none;
            width: 113px;
            
            &.btn {
                background-color: #f7d379;
                border: 1px solid #fabe28;
                color: #23231e;
                transition: all 300ms ease;

                &:hover {
                    background-color: #fabe28;
                    border: 1px solid #fabe28;
                    color: #23231e;
                }

                &:active, &:visited {
                    background-color: #fab728;
                    border: 1px solid #fab728;
                    outline: none;
                }
            }
        }
    }
}
