@charset "UTF-8";

.opening {
    overflow: hidden;

    .visual {
        border: map-get($colors, "cl") 8px solid;
        display: inline-block;
        height: 350px;
        vertical-align: middle;
        width: 265px;

        img {
            margin: 0;
            /*max-height: 334px;
            max-width: 249px;*/
            padding: 0;

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 991px) {
                width: 100%; //100%
            }*/

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 768px) {
                //border-bottom: map-get($colors, "cl") 8px solid;
                outline: map-get($colors, "cl") 8px solid;
                height: 706px;
            }*/

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 694px) {
                height: 876px;
            }*/

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 478px) {
                height: 334px;
                outline: none;
            }*/
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            display: block;
            margin: 0 auto;
            width: 658px; //100%
        }*/

        /* Extra Small Devices, Phones */
        /*@media only screen and (max-width : 700px) {
            width: 100%;
        }*/
    }

    .services {
        display: inline-block;
        margin-left: 22px;
        max-width: 648px; // это вставил и сделал в одну строку
        text-align: center;
        vertical-align: middle;

        .service {
            background-color: map-get($colors, "cbge");
            display: inline-block;
            margin: 4px 2px;
            /*padding: 17px 11px;*/
            padding: 15px 10px; //11px
            text-align: center;
            width: 209px;

            .icon {
                margin: 10px 0px 23px;

                img {
                    display: block;
                    height: 44px;
                    margin: 0 auto;
                    padding: 0;
                    /*width: 44px;*/
                }
            }

            h3 {                
                color: map-get($colors, "chd");
                font-family: 'HelveticaRegular', 'HelveticaNeue-Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-style: normal;
                font-size: 12px;
                font-variant: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 0.25px;
                
                margin: 23px 0px 8px;
            }

            .desc {

                p {
                    @extend %font-base;
                    color: map-get($colors, "cbd");
                    font-size: 12px;
                    margin: 0;
                    text-transform: lowercase;
                }
            }
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            display: block;
            margin: 20px auto 0;
        }*/
    }
}
