@charset "UTF-8";

.opening {
    overflow: hidden;

    .title {
        
        &_n {
            margin-bottom: 80px;

            img {
                height: 42px;
                width: 257.5px;
            }
        }
    }
    
    .visual {
        /*border: map-get($colors, "cl") 8px solid;*/
        display: inline-block;
        height: 350px;
        vertical-align: middle;
        width: 265px;

        img {
            margin: 0;
            /*max-height: 334px;
            max-width: 249px;*/
            padding: 0;
            height: 350px;
            width: 265px;

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 991px) {
                width: 100%; //100%
            }*/

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 768px) {
                //border-bottom: map-get($colors, "cl") 8px solid;
                outline: map-get($colors, "cl") 8px solid;
                height: 706px;
            }*/

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 694px) {
                height: 876px;
            }*/

            /* Medium Devices, Desktops */
            /*@media only screen and (max-width : 478px) {
                height: 334px;
                outline: none;
            }*/
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            display: block;
            margin: 0 auto;
            width: 658px; //100%
        }*/

        /* Extra Small Devices, Phones */
        /*@media only screen and (max-width : 700px) {
            width: 100%;
        }*/
    }

    .services {
        display: inline-block;
        margin-left: 22px;
        max-width: 648px; // это вставил и сделал в одну строку
        text-align: center;
        vertical-align: middle;

        .service {
            /*background-color: map-get($colors, "cbge");*/
            display: inline-block;
            margin: 4px 2px;
            /*padding: 17px 11px;*/
            /*padding: 15px 10px;*/ //11px
            text-align: center;
            width: 209px;
            height: 171px;
            vertical-align: top;

            &:hover {
                .icon {
                    background-position: 0 -44px;
                }
            }
            
            .icon {
                margin: 28px 0 27px;
                background-repeat: no-repeat;
                background-position: 0 0;
                height: 43px;
                width: 209px;
                transition: all 500ms cubic-bezier(0,1.61,1,1.81);

                img {
                    display: block;
                    height: 43px;
                    margin: 0 auto;
                    padding: 0;
                    width: 209px;
                }
                
                &.doorhandle {
                    background-image: url(../img/opening/door/doorhandle_s.png);
                }
                
                &.lock {
                    background-image: url(../img/opening/door/lock_s.png);
                }
                
                &.repair {
                    background-image: url(../img/opening/door/repair_s.png);
                }
                
                &.safe {
                    background-image: url(../img/opening/door/safe_s.png);
                }
                
                &.keys {
                    background-image: url(../img/opening/door/keys_s.png);
                }
                
                &.pass {
                    background-image: url(../img/opening/door/pass_s.png);
                }
            }

            h3 {                
                color: #373737;
                font-family: 'HelveticaMedium', 'HelveticaBold', 'HelveticaNeue-Bold';
                font-style: normal;
                font-size: 13px;
                font-variant: normal;
                font-weight: normal;
                line-height: normal;
                letter-spacing: 0.25px;
                
                margin: 23px 0px 4px;
            }

            .desc {
                
                
                p {
                    @extend %font-base;
                    color: #797979;
                    font-size: 13px;
                    margin: 0;
                    line-height: normal;
                    text-transform: lowercase;
                }
            }
        }

        /* Medium Devices, Desktops */
        /*@media only screen and (max-width : 991px) {
            display: block;
            margin: 20px auto 0;
        }*/
    }
}
