@charset "UTF-8";

.title {
    border-left: $corporate-border-verticle;
    padding-left: 10px;
    margin-bottom: 50px;

    &_n {
        margin-bottom: 80px;

        img {
            height: 40px;
            width: 297.5px;
        }
    }

    h2 {
        color: map-get($colors, "chd");
        line-height: 20px;
        margin: 0 0 0 -1px;
        padding: 0;

        span.sm {
            color: map-get($colors, "cbd");
            display: block;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 7px;
        }

        &.light {
            color: map-get($colors, "chl");
            span.sm {
                color: map-get($colors, "cbl");
            }
        }
    }

    /* Small Devices, Tablets */
    /*@media only screen and (max-width : 767px) {
        border-left: none;
        border-bottom: $corporate-border-horizontal;
        text-align: center;
    }*/
}
