@charset "UTF-8";

.title {
    border-left: $corporate-border-verticle;
    padding-left: 10px;
    margin-bottom: 50px;

    h2 {
        color: map-get($colors, "chd");
        margin: 0;
        padding: 0;

        span.sm {
            color: map-get($colors, "cbd");
            display: block;
            font-size: 12px;
        }

        &.light {
            color: map-get($colors, "chl");
            span.sm {
                color: map-get($colors, "cbl");
            }
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 767px) {
        border-left: none;
        border-bottom: $corporate-border-horizontal;
        text-align: center;
    }
}
