<div class="form-order" id="form-order">
    <form action="javascript:ajax('#form__modal');" class="order" id="form__modal" method="post">
        <div class="form-order--title">
            <h4>Форма заявки</h4>
        </div>
        <div class="form-order--inputs">
            <input type="text" name="name" id="name" placeholder="Введите имя" />
            <input type="phone" name="phone" id="phone" placeholder="+375 (__) __-__-__" required />
        </div>
        <div class="form-order--submit">
            <p class="txt">Мы перезвоним через 4 минуты.</p>
            <button type="submit" class="btn btn-warning">Отправить</button>
        </div>
        <input type="hidden" name="from_section" id="from_section" value="Modal - Оставить заявку" />
    </form>
</div>
