<div id="belt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="working">
                    <div class="hours">
                        <p>24 часа</p>
                    </div>
                    <div class="days">
                        <p><span class="circle"></span> без выходных</p>
                        <p><span class="circle"></span> без перерывов</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="guarantees">
                    <h2>Гарантии</h2>
                    <div class="desc">
                        <img src="img/guarantees/diplom.png" height="49" width="35" alt="Диплом">
                        Мы предоставляем официальную гарантию на все виды услуг и на весь перечень товаров.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line_light"></div>
</div>
