<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer--block about">
                    <h3>О нас</h3>
                    <div class="footer--block--content">
                        <div class="logo">
                            <p><img src="img/footer/lock.png" alt="Замок"> ZAmk<span class="color_key">off</span></p>
                        </div>
                        <p>
                            Предоставляем услуги по вскрытию
                            и замене замков, изготовлению ключей
                            в Минске и минской области.
                        </p>
                        <div class="soc-block">
                            <a href="http://www.facebook.com/share.php?u=http://zamkoff.by/" target="_blank" class="facebook share"><img src="img/footer/soc/facebook.png" alt="facebook" /></a>
                            <a href="https://twitter.com/home?status=Вскрытие и замена замков Минск и минская область http://zamkoff.by/" target="_blank" class="twitter share"><img src="img/footer/soc/twitter.png" alt="twitter" /></a>
                            <a href="http://vk.com/share.php?url=http://zamkoff.by/" target="_blank" class="vk share"><img src="img/footer/soc/vk.png" alt="vk"/></a>
                        </div>
                        <p class="copyright">&copy; zamkoff.by 2015. Все права защищены.</p>
                    </div>
                </div>
                <div class="footer--block navigation">
                    <h3>Информация</h3>
                    <div class="footer--block--content">
                        <nav>
                            <ul>
                                <li>Главная</li>
                                <li>Ваши риски</li>
                                <li>Виды услуг</li>
                                <li>Акции</li>
                                <li>Прайс лист</li>
                            </ul>
                        </nav>
                        <nav>
                            <ul>
                                <li>Дверные замки</li>
                                <li>Автомобильные</li>
                                <li>Замки сейфов</li>
                                <li>Изготовление ключей</li>
                                <li>Перекодировка замков</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer--block contacts">
                    <h3>Контакты</h3>
                    <div class="footer--block--content">
                        <ul>
                            <li>ул. Аэродромная 5</li>
                            <li>+375 29 692 13 05</li>
                            <li>z3550505@gmail.com</li>
                            <li>274 28 33</li>
                            <li>Круглосуточно</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
