<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer--block about">
                    <h3>О нас</h3>
                    <div class="footer--block--content">
                        <div class="logo">
                            <p><img src="img/footer/lock.png" alt="Замок"> ZAmk<span class="color_key">off</span></p>
                        </div>
                        <p>
                            Предоставляем услуги по вскрытию, <br />
                            ремонту и замене замков в Минске <br />
                            и минской области.
                        </p>
                        <div class="soc-block">
                            <a href="http://www.facebook.com/share.php?u=http://zamkoff.by/" target="_blank" class="facebook share"><img src="img/footer/soc/facebook.png" alt="facebook" /></a>
                            <a href="https://twitter.com/home?status=Вскрытие и замена замков Минск и минская область http://zamkoff.by/" target="_blank" class="twitter share"><img src="img/footer/soc/twitter.png" alt="twitter" /></a>
                            <a href="http://vk.com/share.php?url=http://zamkoff.by/" target="_blank" class="vk share"><img src="img/footer/soc/vk.png" alt="vk"/></a>
                        </div>
                        <!--<p class="copyright">&copy; zamkoff.by 2015. Все права защищены.</p>-->
                    </div>
                </div>
                <div class="footer--block contacts">
                    <h3>Контакты</h3>
                    <div class="footer--block--content">
                        <ul>
                            <li>+375 29 692 13 05</li>
                            <li>info@zamkoff.by</li>
                            <li>Минск, ул. Аэродромная 5</li>
                            <li>Круглосуточно, без выходных</li>
                        </ul>
                    </div>
                </div>
                <div class="footer--block navigation">
                    <h3>Информация</h3>
                    <div class="footer--block--content">
                        <nav>
                            <ul>
                                <li><a href="#header" class="scrollTo">Главная</a></li>
                                <li><a href="#risks" class="scrollTo">Ваши риски</a></li>
                                <li><a href="#opening_door" class="scrollTo">Виды услуг</a></li>
                                <li><a href="#price" class="scrollTo">Цены</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
