<header id="header">
    <div class="container">
        <div class="top">
            <div class="row">
                <div class="col-xs-12">
                    <div class="logo pull-left">
                        <p><img src="img/footer/lock.png" alt="Замок"> ZAmk<span class="color_key">off</span></p>
                        <div class="desc">
                            <p>Вскрытие и замена замков</p>
                            <p>Минск и минская область</p>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="nav-block">
                            <nav>
                                <ul>
                                    <li><a href="#">Главная</a></li>
                                    <li><a href="#">Риски</a></li>
                                    <li><a href="#">Виды услуг</a></li>
                                    <li><a href="#">Прайс</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="phone-block">
                            <p class="phone">+375 29 657 88 65</p>
                            <p class="order_call"><a href="#">бесплатный звонок</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-content">
            <div class="descripter">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>откроем любой замок за 20 минут
                            без повреждений с бесплатным
                            выездом мастера
                        </h1>
                        <a href="#" class="btn btn-warning">Оставить заявку</a>
                    </div>
                </div>
            </div>
            <div class="bottom_line">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bottom_line--block">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <span class="clearfix"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
