<header id="header">
    <div class="container">
        <div class="top">
            <div class="row">
                <div class="col-xs-12">
                    <div class="logo pull-left">
                        <div class="logo">
                            <p>
                                <img src="img/header/logo.png" alt="zamkoff.net">
                            </p>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="nav-block">
                            <nav>
                                <ul>
                                    <li><a href="#header" class="scrollTo">Главная</a></li>
                                    <li><a href="#risks" class="scrollTo">Риски</a></li>
                                    <li><a href="#opening_door" class="scrollTo">Виды услуг</a></li>
                                    <li><a href="#price" class="scrollTo">Цены</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="phone-block">
                            <p class="phone">+375 29 692 13 05</p>
                            <p class="order_call"><a href="#form-order" class="fancybox" section="Заявка на звонок">бесплатный звонок</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-content">
            <div class="descripter">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>
                            Изготовление ключей <br />
                            и дубликатов за 15 минут <br />
                            с полной гарантией качества.
                        </h1>
                        <div class="desc_keywords">Автоключи, дверные ключи, электронные ключи и т.п.</div>
                        <!--<a href="#form-order" class="btn btn-warning fancybox" section="Заявка с шапки">Оставить заявку</a>-->
                        <a href="tel:+375296921305" class="btn btn-warning" section="Заявка с шапки">Вызвать мастера</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
