<section id="sale">
    <div class="container">
        <div class="row">
            <div class="col-xs-6"> <!--col-sm-6 col-xs-12-->
                <div class="visual">
                    <img src="img/sale/key.png" alt="Ключ">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="sb">
                    <div class="title_n">
                        <div class="row">
                            <div class="col-xs-12">
                                <!--<h2 class="light"><span class="sm">скидка</span>15% на <span class="color_key">ключи</span> с чипом</h2>-->
                                <img src="img/sale/title.png" alt="Скидка 15% на ключи с чипом" title="Скидка 15% на ключи с чипом" />
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Данная скидка действует на любые марки авто- <br />
                            мобилей, а  изготовление чип ключа происходит <br />
                            в максимально сжатые сроки.
                        </p>
                    </div>
                    <a href="#form-order" class="btn btn-warning fancybox" section="Заявка со скидки">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
</section>
