<section id="sale">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="visual">
                    <img src="img/sale/key.png" alt="Ключ">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="sb">
                    <div class="title">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2><span class="sm">скидка</span>25% на <span class="color_key">ключи</span> с чипом</h2>
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Скидка действует на любые марки автомобилей.
                            Изготовление чип ключа происходит в максимально
                            сжатые сроки.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
